<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
		<listener class-name="utilities.customListener"/>
	</listeners>
  <test name="Test">
  <parameter name="browserName" value="saucelabs" />
    <packages>
      <package name="test_scenarios_fahad"/>
      <!--package name = "test_scenarios_Archana"/>-->
    </packages>
    </test>
<!-- Test -->
</suite> <!-- Suite -->
